<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><span>taobaoUrl: </span><span id="taobaoUrl">###taobaoUrl###</span></div>
<div><span>id: </span><span id="id">###id###</span></div>
<div><span>标题: </span><span id="title">###title###</span></div>
<div><span>价格: </span><span id="price">###price###</span></div>
<div><span>淘宝价: </span><span id="pricePromote">###pricePromote###</span></div>
<div><span>库存: </span><span id="stock">###stock###</span></div>
<div><span>基本信息: </span><span id="basicInfo">###basicInfo###</span></div>
<div id="detail">###detail###</div>

</body>
</html>